*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}

.container{
  width: 100%;
  height: auto;
  margin: auto;
  font-family: "Noto Sans";
}

/* NAVBAR */
.navbar{
  width: 100%;
  font-family: "Noto Sans";

  position: sticky;
  top: 0;
  z-index: 302;
}
.top_nav{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: auto;
  border-bottom: 0.5px #E1E4F5 solid;
  border-width: 100%;
  align-items: center;
  padding: 16px 100px;
  box-sizing: border-box;

  background-color: #fff;
}
.logo{
  display: block;
}

.left_link{
  display: flex;
  align-items: center;
}
.left_link a{
  color: #014FD7;
  text-decoration: none;
  font-size: 14px;
  padding: 16px;

  transition: all 1s;
}
.left_link a:hover{
  text-decoration: underline;
}
.line_1{
  width: 1.5px;
  height: 20px;
  
  background-color: #E1E4F5;
}

/* NAVIGATION */
.navigation{
  width: 100%;
  height: 88px;
  padding: 16px 100px 16px 84px;
  min-height: 88px;
  max-height: 88px;
  min-width: 0px;
  justify-content: space-between;

  background-color: #fff;

  display: flex;
}

.nav_left{
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0;
}

.nav_left a{
  color: #878787;
  display: flex;
  border: #E1E4F5 solid 1px;
  border-radius: 27px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 16px 20px;
  margin-left: 12px;

  transition: all 0,5s;
}
.nav_left a:hover{
  color: #fff;
  background-color: #014FD7;
  border: #014FD7 solid 1px;
  z-index: 1;
}
.nav_left .home{
  color: #191B1F;
  background-color: #FFC32A;
  border: #FFC32A solid 1px;

}

.home_text{
  margin-left: 4px;
}
.nav_left .home:hover{
  background-color: #014FD7;
  color: #fff;
  border: #014FD7 solid 1px;
  transition: 0,2s;
  
  z-index: 2;
}


.nav_right{
  align-items: center;
  display: flex;
  box-sizing: border-box;
}
.nav_right a{
  color: #014FD7;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 8px;

  transition: all 0,5s;
}
.nav_right a:hover{
  text-decoration: underline;
  transition: 0,2s;
}


/************** submenu *****************/

.submenu {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #fff;
 /* box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.3);*/
  position: relative;
  padding: 0px 100px;
  background-color: #fff;
}

.submenu-links {
  list-style-type: none;
  display: flex;
}
.submenu-links li a {
  display: block;
  text-decoration: none;
  color: #444;
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.4s all;
}

.submenu-links li.submenu-dropdown {
  position: relative;
}

.submenu-links li.submenu-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.submenu-links li.submenu-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}
.submenu-links li.submenu-dropdown .dropdown a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}
.submenu-dropdown .dropdown a:hover {
  padding-left: 30px;
}
.submenu-links li a:hover {
  color: #014FD7;
}


/************** submenu end *****************/

/************** step ****************************/
.step{
display: flex;
padding: 16px 100px;
}
.item{
align-items: center;
display: flex;
padding: 20px 16px;
color: #878787;
font-size: 14px;
}
.item-active{
padding: 20px 16px;
color: #000;
font-size: 14px;
display: flex;
align-items: center;
}

/************** step END****************************/

.title1 {
    display: flex;
    height: 100%;
    padding: 24px 100px;
   }
 
 .title-child {
     width: 8px;
     background-color: #014FD7;
     height: 27px;
 
     display: flex;
   }
   .div32 {
     font-size: 18px;
     font-weight: 600;
 
     padding-left: 16px;
     width: 1208px;
     position: relative;
     display: inline-block;
     flex-shrink: 0;
   }


.div-9 {
    max-width: 100%;
    padding: 16px 104px;
    font: 16px Hiragino Sans;
    line-height: 2em;
    color: #878787;
}
.seekers{
    color: #014FD7;
    padding: 16px 120px;
    margin-bottom: 16px;
}
.seekers li{
    padding-bottom: 8px;
}
.seekers a{
    color: #014FD7;
    font-weight: 600;
    text-decoration: none;
}

/*************************  Footer  *************************/
footer {
  display: flex;
  width: 100%;
  background-color: #191B1F;
  background-image: url(../images/Web/BG.svg);
  background-repeat: no-repeat;


  width: 100%;
  height: 580px;
}

.footer-left {
  width: 85%;
  padding: 24px 100px;
  vertical-align: middle;

  /* width: 1054px; */
  height: 100%;

}

.footer-header {
  display: flex;
  width: 854px;
  height: 45px;
  align-items: center;

  justify-content: space-between;
}

.social {
  display: flex;

  text-decoration: none;
}

.social a {
  padding-left: 12px;
}

.footer-content {
  justify-content: space-between;
  padding: 70px 10px;
  display: flex;
  width: 70%;

}

.vertical .title {
  display: flex;
  color: #fff;
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 600;
}

.footer-item {
  font-size: 13px;
  cursor: pointer;
  position: relative;
  padding: 12px 20px;
}


.footer-item a:hover {
  font-weight: 600;

  color: #014FD7;
  transition: 0.2s;

}

.footer-item a {
  color: #bfbfbf;
  text-decoration: none;
}

.copyright {

  color: #878787;
  font-size: 12px;
  text-align: center;


  bottom: auto;
}


.footer-map {
  background-color: #fff;
  width: 20%;
  height: 580px;
}

iframe {
  width: 386px;
  height: 580px;
  float: right;
}

/*************************  Footer end *************************/
/************************  Mobile **********************/
@media only screen and (min-width: 1440px){
  .mobile_container{
    display: none;
  }
  .mobile{
    display: none;
  }
  .mobile-header{
    display: none;
  }
  .mobile-content{
    display: none;
  }
  .mobile-info{
    display: none;
  }
  .footer-mobile{
    display: none;
  }
}
@media only screen and (min-width: 786px){
  .mobile_container{
    display: none;
  }
  .mobile{
    display: none;
  }
  .mobile-header{
    display: none;
  }
  .mobile-content{
    display: none;
  }
  .mobile-info{
    display: none;
  }
  .footer-mobile{
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
  }
  .top_nav{
    display: none;
  }
  .navigation{
    display: none;
  }
  .submenu{
    display: none;
  }
  .header{
    display: none;
  }
  .link-section{
    display: none;
  }
  .content1{
    display: none;
  }
  .content2{
    display: none;
  }
  .info{
    display: none;
  }
  footer{
    display: none;
  }

}
@media only screen and (max-width: 480px){

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #014FD7;
  position: relative;

  justify-content: space-between;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
	    color: white;
	    padding: 10px 12px;
	    text-decoration: none;
	    font-size: 10px;
	    display: block;
	  }

/* Style the hamburger menu */
.topnav a.icon {
  background: #014FD7;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #FFF;
  color: white;
}
}
/********** mobile footer *************/
@media only screen and (max-width: 480px){
  .footer-mobile{
    text-align: center;
    background-color: #191B1F;

    padding: 16px 16px;
  }
  .footer-mobile h2{
    color: #fff;
    font-size: 20px;
    padding-bottom: 12px;
  }
}