* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans";
}

.container {
	width: 100%;
	height: auto;
	margin: auto;
	font-family: "Noto Sans";
}

/* NAVBAR */
.navbar {
	width: 100%;
	font-family: "Noto Sans";

	position: sticky;
	top: 0;
	z-index: 302;
}

.top_nav {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
	height: auto;
	border-bottom: 0.5px #E1E4F5 solid;
	border-width: 100%;
	align-items: center;
	padding: 16px 100px;
	box-sizing: border-box;

	background-color: #fff;
}

.logo {
	display: block;
}

.left_link {
	display: flex;
	align-items: center;
}

.left_link a {
	color: #014FD7;
	text-decoration: none;
	font-size: 14px;
	padding: 16px;

	transition: all 1s;
}

.left_link a:hover {
	text-decoration: underline;
}

.line_1 {
	width: 1.5px;
	height: 20px;

	background-color: #E1E4F5;
}

/* NAVIGATION */
.navigation {
	width: 100%;
	height: 88px;
	padding: 16px 100px 16px 84px;
	min-height: 88px;
	max-height: 88px;
	min-width: 0px;
	justify-content: space-between;

	background-color: #fff;

	display: flex;
}

.nav_left {
	display: flex;
	align-items: center;
	height: 56px;
	padding: 0;
}

.nav_left a {
	color: #878787;
	display: flex;
	border: #E1E4F5 solid 1px;
	border-radius: 27px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	padding: 16px 20px;
	margin-left: 12px;

	transition: all 0, 5s;
}

.nav_left a:hover {
	color: #fff;
	background-color: #014FD7;
	border: #014FD7 solid 1px;
	z-index: 1;
}

.nav_left .home {
	color: #191B1F;
	background-color: #FFC32A;
	border: #FFC32A solid 1px;

}

.home_text {
	margin-left: 4px;
}

.nav_left .home:hover {
	background-color: #014FD7;
	color: #fff;
	border: #014FD7 solid 1px;
	transition: 0, 2s;

	z-index: 2;
}


.nav_right {
	align-items: center;
	display: flex;
	box-sizing: border-box;
}

.nav_right a {
	color: #014FD7;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	padding: 8px;

	transition: all 0, 5s;
}

.nav_right a:hover {
	text-decoration: underline;
	transition: 0, 2s;
}


/************** submenu *****************/

.submenu {
	display: flex;
	align-items: center;
	width: 100vw;
	background-color: #fff;
	position: relative;
	padding: 0px 100px;
	background-color: #fff;
}

.submenu-links {
	list-style-type: none;
	display: flex;
}

.submenu-links li a {
	display: block;
	text-decoration: none;
	color: #444;
	padding: 20px 20px;
	font-size: 15px;
	font-weight: 600;
	transition: 0.4s all;
}

.submenu-links li.submenu-dropdown {
	position: relative;
}

.submenu-links li.submenu-dropdown:hover .dropdown {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}

.submenu-links li.submenu-dropdown .dropdown {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding: 20px 0;
	top: 100%;
	transform: translateY(50px);
	left: 0;
	width: 250px;
	background-color: #fff;
	box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	z-index: 111;
	transition: 0.4s all;
}

.submenu-links li.submenu-dropdown .dropdown a {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 400;
}

.submenu-dropdown .dropdown a:hover {
	padding-left: 30px;
}

.submenu-links li a:hover {
	color: #014FD7;
}


/************** submenu end *****************/

/************** step ****************************/
.step {
	display: flex;
	padding: 16px 100px;
}

.item {
	align-items: center;
	display: flex;
	padding: 20px 16px;
	color: #878787;
	font-size: 14px;
}

.item-active {
	padding: 20px 16px;
	color: #000;
	font-size: 14px;
	display: flex;
	align-items: center;
}

/************** step END****************************/

/************** HEADER **************/
.header {

	padding: 36px 100px;
	width: 100%;
	height: auto;
	display: flex;
}

/********** list-menu ************/
.list-menu {
	border-right: 1px solid #E1E4F5;
	width: 25%;


}

.list-menu .list-menu-title {
	font-size: 20px;
	font-weight: 600;
	padding: 16px 20px;

	padding-bottom: 36px;
}

.list-menu li {
	height: 56px;
	list-style: none;
}

.list-menu li a {
	text-decoration: none;

	font-size: 15px;
	padding: 16px 0px 16px 20px;
	box-sizing: border-box;
	border-left: 4px solid #fff;
	color: #000;
	transition: all 0.2s;
}

.list-menu li a:hover {
	border-left: 4px solid #014FD7;
}

.list-menu li a:focus {
	border-left: 4px solid #014FD7;
}

/********** right-content ************/

.right-content {
	width: 75%;
	font-size: 14px;
}

.right-content-title {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

.job-text {
	padding: 16px 24px;

	margin-bottom: 36px;
}

/********************  form ********************/
.form {
	height: auto;
	margin: auto;
	align-items: center;

}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	gap: 6px;
	width: 830px;
	margin: auto;
	padding: 0 43px 36px 43px;
	background: #ffffff;
	border: 1px solid #e1e4f5;
	overflow: hidden;
	border-radius: 3px;
}

.frame-1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 733px;
	padding: 36px 16px 36px 0;
	box-sizing: border-box;
	border-top: 1px solid #e1e4f5;
	text-align: left;
}

.left-4 {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 8px;
	position: relative;
	width: 130px;
	text-align: left;
}

.furigana {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 24px;
	color: #000000;
	font-family: Hiragino Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
	white-space: nowrap;
}

.badge-5 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	position: relative;
	width: 30px;
	padding: 0 3px 0 3px;
	box-sizing: border-box;
	background: #014fd7;
	overflow: hidden;
}

.required-6 {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 18px;
	color: #ffffff;
	font-family: Hiragino Sans, var(--default-font-family);
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
}

.name-7 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	position: relative;
	width: 487px;
	padding: 20px 24px 20px 24px;
	box-sizing: border-box;
	border: 1px solid #e1e4f5;
	overflow: hidden;
	border-radius: 3px;
}

.name-input-8 {
	flex-shrink: 0;
	position: absolute;
	width: 487px;
	height: 56px;
	background: transparent;
	border: none;
	outline: none;
	padding: 20px 10px;
	box-sizing: border-box;
	font-size: 16px;
	color: #797979;
}

.name-input-8::placeholder {
	font-size: 16px;
	line-height: 56px;
	color: #797979;
}

.main-container-2 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	gap: 32px;
	position: relative;
	width: 733px;
	margin: 0 auto;
	padding: 36px 16px 36px 0;
	border-top: 1px solid #e1e4f5;
	overflow: hidden;
}

.left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 8px;
	position: relative;
	width: 198px;
	padding: 0 0 0 16px;
}

.resume-document {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 24px;
	color: #000000;
	font-family: Hiragino Sans, var(--default-font-family);
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
	white-space: nowrap;
}

.badge {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	position: relative;
	width: 30px;
	padding: 0 3px 0 3px;
	cursor: pointer;
	background: #014fd7;
	border: none;
	overflow: hidden;
}

.required {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 18px;
	color: #ffffff;
	font-family: Hiragino Sans, var(--default-font-family);
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 24px;
	position: relative;
	width: 436px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 8px;
	position: relative;
	width: 436px;
}

.pdf-upload-message {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 21px;
	color: #000000;
	font-family: Hiragino Sans, var(--default-font-family);
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
	white-space: nowrap;
}

.pdf-upload-limit {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 18px;
	color: #787878;
	font-family: Hiragino Sans, var(--default-font-family);
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
}

.frame-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 8px;
	position: relative;
	width: 316px;
}

.add-file {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 16px;
	position: relative;
	width: 316px;
}

.choose-file {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 4px;
	position: relative;
	width: 133px;
	padding: 20px 20px 20px 20px;
	box-sizing: border-box;
	cursor: pointer;
	background: #014fd7;
	border: none;
	overflow: hidden;
}

.custom-file-upload {
	display: inline-block;
	padding: 16px 20px;
	cursor: pointer;
	background-color: #014FD7;
	color: #fff;
	border-radius: 30px;

	border: #014FD7 solid 1px;
}

.custom-file-upload:hover {
	background-color: #fff;
	border: #014FD7 solid 1px;
	color: #014FD7;
}

.add-file input[type=file] {
	display: none;
}

.file-not-selected {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 18px;
	color: #787878;
	font-family: Hiragino Sans, var(--default-font-family);
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
}

/* Formーー>>MAIN-CONTAINER-3 */
.main-container-3 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	gap: 96px;
	position: relative;
	width: 733px;
	margin: 0 auto;
	padding: 36px 16px 36px 0;
	overflow: hidden;
}

.main-container-3 .left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 8px;
	position: relative;
	width: 134px;
	padding: 0 0 0 16px;
}

.main-container-3 .motivation {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 24px;
	color: #000000;
	font-family: Hiragino Sans, var(--default-font-family);
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
	white-space: nowrap;
}

.main-container-3 .badge {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	position: relative;
	width: 30px;
	padding: 0 3px 0 3px;
	cursor: pointer;
	background: #014fd7;
	border: none;
	overflow: hidden;
}

.main-container-3 .required {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 18px;
	color: #ffffff;
	font-family: Hiragino Sans, var(--default-font-family);
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
}

.main-container-3 .right {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 299px;
	position: relative;
	width: 503px;
	height: 200px;
	padding: 16px 16px 16px 16px;
	border: 1px solid #e1e4f5;
	overflow: hidden;
	border-radius: 3px;
	font-size: 14px;
	color: #797979;
}

.main-container-3 .right::placeholder {
	font-size: 14px;
	color: #797979;
}

.input-motivation {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 21px;
	color: #787878;
	font-family: Hiragino Sans, var(--default-font-family);
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
	white-space: nowrap;
}

.group {
	flex-shrink: 0;
	position: absolute;
	width: 8.864px;
	height: 8.864px;
	top: 189px;
	left: 492px;
	background: url(./assets/images/2e292af8-5b86-411e-b2f6-e3bf4cfbbefd.png) no-repeat center;
	background-size: cover;

}

.chek-box {
	text-align: center;
	margin: auto;
	align-items: center;
}

.submit {
	margin: auto;
	align-items: center;
}

input[type=submit] {
	background-color: #014FD7;
	border: none;
	color: white;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 30px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
}

input[type=submit]:hover {
	border: 1px solid #014FD7;
	background-color: #fff;
	color: #014FD7;
}

/********************  Footer  ********************/
footer {
	display: flex;
	width: 100%;
	background-color: #191B1F;
	background-image: url(../images/Web/BG.svg);
	background-repeat: no-repeat;


	width: 100%;
	height: 580px;
}

.footer-left {
	width: 85%;
	padding: 24px 100px;
	vertical-align: middle;

	/* width: 1054px; */
	height: 100%;

}

.footer-header {
	display: flex;
	width: 854px;
	height: 45px;
	align-items: center;

	justify-content: space-between;
}

.social {
	display: flex;

	text-decoration: none;
}

.social a {
	padding-left: 12px;
}

.footer-content {
	justify-content: space-between;
	padding: 70px 10px;
	display: flex;
	width: 70%;

}

.vertical .title {
	display: flex;
	color: #fff;
	padding: 20px 10px;
	font-size: 16px;
	font-weight: 600;
}

.footer-item {
	font-size: 13px;
	cursor: pointer;
	position: relative;
	padding: 12px 20px;
}


.footer-item a:hover {
	font-weight: 600;

	color: #014FD7;
	transition: 0.2s;

}

.footer-item a {
	color: #bfbfbf;
	text-decoration: none;
}

.copyright {

	color: #878787;
	font-size: 12px;
	text-align: center;


	bottom: auto;
}


.footer-map {
	background-color: #fff;
	width: 20%;
	height: 580px;
}

iframe {
	width: 386px;
	height: 580px;
	float: right;
}

/*************************  Footer end *************************/
/************************  Mobile **********************/
@media only screen and (max-width: 1920px) {
	.mobile_container {
		display: none;
	}

	.mobile {
		display: none;
	}

	.mobile-header {
		display: none;
	}

	.mobile-content {
		display: none;
	}

	.mobile-info {
		display: none;
	}

	.footer-mobile {
		display: none;
	}
}

@media only screen and (max-width: 1440px) {
	.mobile_container {
		display: none;
	}

	.mobile {
		display: none;
	}

	.mobile-header {
		display: none;
	}

	.mobile-content {
		display: none;
	}

	.mobile-info {
		display: none;
	}

	.footer-mobile {
		display: none;
	}
}

/* FOR 786 PX */

@media only screen and (max-width: 820px) {
	.mobile_container {
		display: none;
	}

	.mobile {
		display: none;
	}

	.mobile-header {
		display: none;
	}

	.mobile-content {
		display: none;
	}

	.mobile-info {
		display: none;
	}

	.footer-mobile {
		display: none;
	}

	#myLinks {
		display: none;
	}

	.topnav {
		display: none;
	}

	/* TOP-NAV */
	.top-nav {
		display: block;
		padding: 10px 7px;
		max-width: 786px;
		width: 100%;
		height: 50px;
		justify-content: start;
		align-items: start;
	}

	.logo img {
		width: 180px;
	}

	.navbar {
		max-width: 786px;
		width: 100%;
	}


	.navigation {
		height: 50px;
		padding: 10px 20px 0px 20px;
	}

	.nav_left a {
		font-size: 12px;
	}

	.nav_right a {
		color: #014FD7;
		font-size: 12px;
	}

	/* SUBMENU */
	.submenu {
		max-width: 786px;
		width: 100%;
		padding: 0px 20px;
	}

	.submenu-links li a {
		font-size: 12px;
		font-weight: 400;
	}

	.submenu-links li.submenu-dropdown .dropdown {
		width: 150px;
	}

	.active {
		display: none;
	}

	/*STEP  */
	.step {
		padding: 0px 15px 0px 25px;
	}

	.item {
		font-size: 12px;
	}

	.item-active {
		font-size: 12px;
	}

	/* HEADER */
	.header {
		max-width: 600px;
		width: 100%;
		align-items: center;

	}

	/* FORM SECTION START */
	.main-container {
		width: 100%;
		margin: 20px;
		padding: 0;
		border: none;
	}

	.main-container-3 {
		width: 400px;
		display: block;
	}

	.form {
		width: 600px;
		align-items: center;
	}

	.frame-1 {
		border-top: none;
		width: 550px;
		display: block;
		padding: 3px 16px 36px 0;

	}

	.name-7 {
		width: 550px;
	}

	.left-4 {
		font-weight: normal;
		font-size: 12px;
	}

	.main-container-3 .right {
		display: block;
		width: 350px;
		height: 150px;
	}


	.furigana {
		font-size: 13px;
		font-weight: 400;
	}

	.motivation {
		font-size: 13px;
		font-weight: 400;
	}

	.name-input-8 {
		font-size: 12px;
		padding: 7px 5px;
	}

	.name-input-8::placeholder {
		font-size: 12px;
	}

	/* SUBMET SECTION */
	.chek-box {
		font-size: 13px;
		display: block;
		align-items: center;
	}

	input[type=submit] {
		padding: 15px;
		font-size: 12px;
		display: block;
		align-items: center;
	}

	footer {
		display: none;
	}

	.footer-mobile {
		text-align: center;
		background-color: #191B1F;
		padding: 16px 16px;
	}

	.footer-mobile h2 {
		color: #cbcbcb;
		font-size: 20px;
		padding-bottom: 12px;
	}
}

/* FOR 480 PX */
@media only screen and (max-width: 550px) {

	/* TOP-NAV */
	.top_nav {
		display: none;
	}

	.navigation {
		display: none;
	}

	.submenu {
		display: none;
	}

	.active {
		background-color: #FFF;
		color: white;
	}

	/*STEP  */
	.step {
		padding: 10px 5px;
	}

	.item {
		font-size: 12px;
	}

	.item-active {
		font-size: 12px;
	}

	/* Style the navigation menu */
	.topnav {
		overflow: hidden;
		background-color: #014FD7;
		position: relative;
		justify-content: space-between;
		display: block;
	}

	/* Hide the links inside the navigation menu (except for logo/home) */
	/* .topnav #myLinks {
		display: none;
	} */

	/* Style navigation menu links */
	.mobile_container {
		display: block;
	}

	.topnav a {
	    color: white;
	    padding: 10px 12px;
	    text-decoration: none;
	    font-size: 10px;
	    display: block;
	  }

	/* Style the hamburger menu */
	.topnav a.icon {
		background: #014FD7;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	/* Add a grey background color on mouse-over */
	.topnav a:hover {
		background-color: #ddd;
		color: black;
	}

	/* HEADER */
	.header {
		max-width: 100%;
		width: 100%;
		margin: auto;
		align-items: center;
		display: block;
		padding: 5px;
	}

	/* FORM SECTION START */
	.main-container {
		margin: 0px;
		padding: 10px;
		width: 330px;
		border: none;
	}

	.main-container-3 {
		width: 320px;
		display: block;
	}

	/* FORM SECTION */
	.form {
		width: 330px;
		margin: 0px;
	}

	.frame-1 {
		border-top: none;
		width: 300px;
		display: block;
		padding: 3px 0px 36px 0;
	}

	/* LEFT LIST LINK */
	.list-menu-title {
		font-size: 12px;
	}

	.list-menu {
		max-width: 480px;
		width: 100%;
		border-right: none;
		padding: 4px 16px;
		font-size: 12px;
		font-weight: 600;
	}

	.list-menu ul {
		border-bottom: 1px solid #787878;
		padding-bottom: 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.list-menu ul li {
		display: flex;
	}

	.list-menu li a {
		border-left: none;
		width: 100px;
		line-height: 20px;
		font-size: 12px;
		padding: 5px 0px;
		box-sizing: border-box;
		color: #014FD7;
	}

	.list-menu li a:hover {
		border-left: none;
	}

	.list-menu li a:focus {
		border-left: none;
	}

	/* TEXT SECTION */
	.right-content {
		max-width: 480px;
		width: 100%;
		padding-top: 20px;
	}

	.job-text {
		width: 100%;

	}

	.name-7 {
		width: 300px;
	}

	.left-4 {
		font-weight: normal;
		font-size: 12px;
	}

	.furigana {
		font-size: 13px;
		font-weight: 400;
	}

	.main-container-3 .right {
		display: block;
		width: 280px;
		height: 100px;
	}

	.main-container-3 .left {
		padding: 0px;
	}

	.main-container-3 .motivation {
		font-size: 15px;
		text-align: left;
		white-space: nowrap;
		display: block;
		margin: auto;
		align-items: start;
	}

	.name-input-8 {
		margin: 0px;
		width: 280px;
		font-size: 12px;
		padding: 7px 5px;
	}

	.name-input-8::placeholder {
		font-size: 12px;
	}

	/* SUBMET SECTION */
	.chek-box {
		font-size: 13px;
	}

	input[type=submit] {
		margin: 0px;
		padding: 10px;
		font-size: 10px;
	}

	/* FOTER */
	footer {
		display: none;
	}

	.footer-mobile {
		display: block;
		text-align: center;
		background-color: #191B1F;
		padding: 16px 16px;
	}

	.footer-mobile h2 {
		color: #cbcbcb;
		font-size: 20px;
		padding-bottom: 12px;
	}

}
@media only screen and (max-width: 350px) {
		/* LEFT LIST LINK */
			.list-menu-title {
				font-size: 12px;
			}
		
			.list-menu {
				max-width: 100%;
				width: 100%;
				border-right: none;
				padding: 4px 16px;
				font-size: 9px;
				font-weight: 400;
			}
		
			.list-menu ul {
				border-bottom: 1px solid #787878;
				box-sizing: border-box;
				padding-bottom: 20px;
				width: 100%;
			}
			.list-menu li a {
				width: 80px;
				line-height: 15px;
				font-size: 9px;
				padding: 3px 2px;
				box-sizing: border-box;
			}
}